:root {
    --cor-fundo: #fdfdfd;
    --cor-texto: #2c2c2c;
    --cor-vinho: #8a0303;
    --cor-dourado: #c5a137;
    --cor-borda: #e0e0e0;
    --altura-navbar: 80px;
    --fonte-principal: 'DM Serif Text', serif;
    --fonte-secundaria: "Poppins", sans-serif;
}