.btn-agendar {
    background-color: var(--cor-vinho);
    color: #ffffff;
    padding: 12px 28px;
    border: 2px solid var(--cor-vinho);
    border-radius: 50px;
    font-weight: bold; text-transform: uppercase;
    letter-spacing: 1px; font-size: 0.9rem;
    transition: all 0.4s ease;
}

.btn-agendar:hover {
    background-color: transparent;
    color: var(--cor-vinho);
    border-color: var(--cor-vinho);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}



.btn-icon-perfil {
    background-color: var(--cor-vinho);
    color: #ffffff;
    padding: 12px 28px;
    border: 2px solid var(--cor-vinho);
    border-radius: 50px;
    font-weight: bold; text-transform: uppercase;
    letter-spacing: 1px; font-size: 0.9rem;
    transition: all 0.4s ease;
}

.btn-icon-perfil:hover {
    background-color: transparent;
    color: var(--cor-vinho);
    border-color: var(--cor-vinho);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.whatsapp-flutuante {
    position: fixed; bottom: 25px; right: 25px;
    z-index: 1000;
    background-color: #25D366; color: #ffffff;
    width: 60px; height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    display: flex; justify-content: center; align-items: center;
    font-size: 2.5rem; transition: all 0.3s ease;
}

.whatsapp-flutuante:hover {
    transform: scale(1.1) translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Responsividade Botões */
@media (max-width: 480px) {
    .btn-agendar { padding: 10px; font-size: 0; }
    .btn-agendar::before { content: "📅"; font-size: 1.2rem; }
}